@font-face {
  font-family: 'GillSansMTBook';
  src: local('GillSansMTBook'), url(../fonts/GillSansMTBook.ttf) format('truetype');
}

body {
    font-family: 'GillSansMTBook';
}

a {
  color: #DBC554;
  z-index: 9999;
}

.yellowBG {
  color: #5A5377;
}

li a {
  color: #929598;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #5A5377;
}

li a:hover {
  color: white; 
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

.navbar {
  min-height: 50px;
}

.navbar-brand {
  padding: 0 0px;
  height: 50px;
  line-height: 50px;
}

.verticalElement {
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} 

.header {
  overflow: hidden;
  position: relative;
  height: 15vh;
  color: #fff;
}
.heading {
  z-index: 12;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.75s 0.0s;
  transition: all 0.75s 0.0s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  display: table;
  margin: 0px auto 0px auto;
  width: 100%;
  padding:25px;
  text-align: center;
  background-color: rgba(90, 83, 119, 1);
}
.about {
  width: 100%;
  opacity: 0;
  padding:25px;
  text-align: center;
  background-color: #DBC554;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 20vh;
  width: 100%;
  height: 100%;
  text-align: center;
}

.howTo{

  background: rgb(202,202,203);
  background: linear-gradient(90deg, rgba(202, 202, 203, 0.651) 8%, rgba(255,255,255,1) 50%, rgba(202,202,203,1) 93%);

}


.header.ready .heading {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.header.ready .about {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.movingItem {
  overflow: hidden;
  position: relative;
  animation: 0.75s ease-out 0.0s 1 slideup;
}

@keyframes slideup {
  0% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    transition: 0.75s;
    opacity: 1;
  }
}

.imageLink:hover {
  opacity: 0.5
}
